<%= use_htmx_reflex do %>
  <p><%= @count %></p>

  <button hx-reflex="increment"> Click </button>
  <!-- or (если хочу другой компонент триггернуть? Но мб лучше это в беке оставить пока) -->
  <!-- но в него отправятся параметры текущего компонента. Тут поидее нужны параметры -->
  <!-- ещё для hx-target добавить возможность замены верхнего компонента? -->
  <!-- или расшаренный класс Counter::Component.component_css_class(или
       reflex_css_class?) -->
  <button hx-reflex="Counter::increment"> Click with component </button>
<% end %>
